.greenText {
    color: green;
}

.redText {
    color: red;
}

.expenditure {
    margin-right: 10px;
    margin-left: 30px;
}

.operationList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}